<aside class="sidebarDashboard h-100 bg-white rounded-0">
    <div class="card h-100 w-100 px-2">
      <nav class="nav flex-column">
        <a class="nav-link active mb-0" href="dashboard.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50px"
            height="50px"
            viewBox="0 0 78.082 86.424"
            class="icondashboard"
          >
            <defs>
              <style>
                .calendar {
                  fill: none;
                  stroke: #1e293b;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-width: 5px;
                }
              </style>
            </defs>
            <g transform="translate(-3 -1.5)">
              <path
                class="calendar"
                d="M12.842,6h58.4a8.342,8.342,0,0,1,8.342,8.342v58.4a8.342,8.342,0,0,1-8.342,8.342h-58.4A8.342,8.342,0,0,1,4.5,72.739v-58.4A8.342,8.342,0,0,1,12.842,6Z"
                transform="translate(0 5.342)"
              />
              <path
                class="calendar"
                d="M24,3V19.685"
                transform="translate(34.726 0)"
              />
              <path
                class="calendar"
                d="M12,3V19.685"
                transform="translate(13.356 0)"
              />
              <path
                class="calendar"
                d="M4.5,15H79.582"
                transform="translate(0 21.37)"
              />
            </g>
          </svg>
  
          <p class="titulodashboard">Agendamento Online</p>
        </a>
  
        <img src="assets/images/img-user.png" class="iconuser" alt="" />
        <div class="welcome">
          <i data-feather="circle"></i>
  
          <span class="textwelcome d-none d-md-inline"
            >Seja bem vindo
            <span class="textwelcome-name d-none d-md-inline">Johnny Clark</span>
  
            <a
              class="dropteste nav-link nav-user"
              href="https://example.com"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="12px" height="7px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                
                <desc>Created with Sketch.</desc>
                <g id="Icons" stroke="none" stroke-width="5" fill="none" fill-rule="evenodd">
                    <g id="Rounded" transform="translate(-616.000000, -2467.000000)">
                        <g id="Hardware" transform="translate(100.000000, 2404.000000)">
                            <g id="-Round-/-Hardware-/-keyboard_arrow_down" transform="translate(510.000000, 54.000000)">
                                <g>
                                    <rect id="Rectangle-Copy-103" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M8.12,9.29 L12,13.17 L15.88,9.29 C16.27,8.9 16.9,8.9 17.29,9.29 C17.68,9.68 17.68,10.31 17.29,10.7 L12.7,15.29 C12.31,15.68 11.68,15.68 11.29,15.29 L6.7,10.7 C6.31,10.31 6.31,9.68 6.7,9.29 C7.09,8.91 7.73,8.9 8.12,9.29 Z" id="🔹-Icon-Color" fill="#1D1D1D"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            </a>
  
            <div
              class="mt-3 dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item dropdown-item" href="#">
                <svg
                  width="19.545"
                  height="21.739"
                  viewBox="0 0 19.545 21.739"
                  class="mr-2"
                >
                  <g transform="translate(-5 -3.5)">
                    <path
                      d="M23.545,29.08V26.886A4.386,4.386,0,0,0,19.159,22.5H10.386A4.386,4.386,0,0,0,6,26.886V29.08"
                      transform="translate(0 -4.841)"
                      fill="none"
                      stroke="#00B3F3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                    <path
                      d="M20.773,8.886A4.386,4.386,0,1,1,16.386,4.5,4.386,4.386,0,0,1,20.773,8.886Z"
                      transform="translate(-1.614)"
                      fill="none"
                      stroke="#00B3F3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </g>
                </svg>
                Meu perfil
              </a>
  
              <div class="divider"></div>
              <a href="index.html" class="dropdown-item">
                <svg
                  class="mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="22.126"
                  height="19.361"
                  viewBox="0 0 22.126 19.361"
                >
                  <path
                    id="Icon_open-account-logout"
                    data-name="Icon open-account-logout"
                    d="M8.3,0V2.766H19.361V16.595H8.3v2.766H22.126V0ZM5.532,5.532,0,9.68l5.532,4.149V11.063H16.595V8.3H5.532Z"
                    fill="#00B3F3"
                  />
                </svg>
                Sair
              </a>
            </div>
          </span>
        </div>
  
        <hr />
  
        <button class="button btn-agendar pl-2">
          <a href="dashboard.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28.176"
              height="18.784"
              viewBox="0 0 28.176 18.784"
              class="mr-2"
            >
              <defs>
                <style>
                  .a {
                    fill: #00b3f3;
                  }
                </style>
              </defs>
              <path
                class="a"
                d="M28.014,15.658l-3.543,6.073a3.131,3.131,0,0,1-2.7,1.553H2.2a1.174,1.174,0,0,1-1.014-1.766l3.543-6.073a3.131,3.131,0,0,1,2.7-1.553H27a1.174,1.174,0,0,1,1.014,1.766ZM7.435,12.327H23.48V9.979a2.348,2.348,0,0,0-2.348-2.348H13.305L10.175,4.5H2.348A2.348,2.348,0,0,0,0,6.848v13.6l3.379-5.793A4.712,4.712,0,0,1,7.435,12.327Z"
                transform="translate(0 -4.5)"
              />
            </svg>
            Meus agendamentos
          </a>
        </button>
  
        <button class="button btn-meus-agendamentos pl-2">
          <a href="agendar.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20.5"
              height="20.5"
              viewBox="0 0 20.5 20.5"
              class="mr-2"
            >
              <defs>
                <style>
                  .b {
                    fill: white;
                  }
                </style>
              </defs>
              <path
                class="b"
                d="M4.5,20.726V25H8.77L21.365,12.4l-4.27-4.27ZM24.667,9.1a1.134,1.134,0,0,0,0-1.606L22,4.829a1.134,1.134,0,0,0-1.606,0L18.313,6.913l4.27,4.27L24.667,9.1Z"
                transform="translate(-4.5 -4.496)"
              />
            </svg>
            Agendar
          </a>
        </button>
      </nav>
    </div>
  </aside>
  