
$font1: 'Poppins', sans-serif;
$azulEscuro: #1E293B; 
$azulClaro: #00B3F3;
$cinzaEscuro1: #4A4A4A;
$cinzaEscuro2: #B4B4B4;
$cinza1: #00000029;
$cinza2: #D2D2D2;
$cinza3: #0000001A;
$cinza4: #E3E3E3;
$bg: #FFFFFF;
$corTxt: #FFFFFF;
$verde: #20D5AB;
$botaoDesabilitado: #E9ECEF;
$corTxtDesabilitado: #6c757d;



$azulEscuro2: #2B76DF;

$verdeClaro: #1BC5BD;
$verdeMuitoClaro: #C9F7F5;
$laranja: #F9842F;
$laranja2: #F59F5D;
$laranjaClaro: #F6AD74;
$laranjaClaro2: #FCE0CA;
$laranjaClaro3: #F9C69F;


$cinzaIcone: #B5B5C3;
$bg2: #DCE7F0;




